body{
    font: 14px/1.5 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;
}
.subnavbar {
    margin-bottom: 2.5em;
}
.subnavbar-inner {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
}
.subnavbar .container > ul {
    display: inline-block;
    height: 80px;
    padding: 0;
    margin: 0;
}
.subnavbar .container > ul > li {
    float: left;
    min-width: 90px;
    height: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    border-left: 1px solid #d9d9d9;
}
.subnavbar .container > ul > li.active > a {
    border-bottom: 3px solid #ff7f74;
    color: #383838;
}
.subnavbar .container > ul > li > a {
    display: block;
    height: 100%;
    padding: 0 15px;
    font-size: 12px;
    font-weight: bold;
    color: #b2afaa;
}
.subnavbar .container > ul > li > a > i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
    margin-bottom: -3px;
    font-size: 20px;
}
.subnavbar .container > ul > li > a > span {
    display: block;
}
.subnavbar .container > ul > li > a:hover {
    color: #888;
    text-decoration: none;
}
.subnavbar .caret {
    margin-top: 4px;
    border-top-color: white;
    border-bottom-color: white;
}
.panel{
    border-radius: inherit;
}
.panel-heading {
    border-bottom: 1px solid #eee;
    background-color: #FAFAFA;
    padding: 10px 15px;
    text-transform: uppercase;
}
.task-content {
    margin-bottom: 30px;
}
.task-list li:hover {
    background: #f9f9f9;
}
.task-list {
    padding: 0;
    margin: 0;
}
ul.task-list {
    list-style: none;
}
.task-list > li {
    position: relative;
    padding: 10px 5px;
    border-bottom: 1px dashed #eaeaea;
}
.task-list li > .task-checkbox {
    float: left;
    width: 30px;
}

.icheckbox_flat-grey, .iradio_flat-grey {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../image/grey.png) no-repeat;
    border: none;
    cursor: pointer;
}
.task-list li > .task-title {
    overflow: hidden;
    margin-right: 10px;
}
.task-list li .task-title .task-title-sp {
    margin-right: 5px;
}
.label-success {
    background-color: #27C24C;
    color: #DFF5E4;
}
.badge, .label {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-success {
    background-color: #27c24c;
    border: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover {
    background-color: #23ad44;
    border: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.hover {
    background-color: #f4f4f4!important;
    outline:0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#breadcrumb {
    background-color: #e5e5e5;
    border-bottom: 1px solid #d6d6d6;
}
#breadcrumb a {
    padding: 8px 20px 8px 6px;
    display: inline-block;
    background-image: url(../image/breadcrumb.png);
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666666;
}

#breadcrumb a:hover {
    color: #333333;
    text-decoration:none;
}
.tab-content{
    padding-top: 10px;
}

.sm-st {
    text-align: center;
    background: #f1f1f1;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
    box-shadow: 0 1px 0px rgba(0,0,0,0.05);
}


.sm-st-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    color: #fff;
}
.st-red {
    background-color: #F05050;
}
.sm-st-info {
    font-size: 12px;
    padding-top: 2px;
}
.sm-st-info span {
    display: block;
    font-size: 24px;
    font-weight: 600;
}