body{
    font: 14px/1.5 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;
}
.subnavbar {
    margin-bottom: 2.5em;
}
.subnavbar-inner {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
}
.subnavbar .container > ul {
    display: inline-block;
    height: 80px;
    padding: 0;
    margin: 0;
}
.subnavbar .container > ul > li {
    float: left;
    min-width: 90px;
    height: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    border-left: 1px solid #d9d9d9;
}
.subnavbar .container > ul > li.active > a {
    border-bottom: 3px solid #ff7f74;
    color: #383838;
}
.subnavbar .container > ul > li > a {
    display: block;
    height: 100%;
    padding: 0 15px;
    font-size: 12px;
    font-weight: bold;
    color: #b2afaa;
}
.subnavbar .container > ul > li > a > i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 11px;
    margin-bottom: -3px;
    font-size: 20px;
}
.subnavbar .container > ul > li > a > span {
    display: block;
}
.subnavbar .container > ul > li > a:hover {
    color: #888;
    text-decoration: none;
}
.subnavbar .caret {
    margin-top: 4px;
    border-top-color: white;
    border-bottom-color: white;
}
.panel{
    border-radius: inherit;
}
.panel-heading {
    border-bottom: 1px solid #eee;
    background-color: #FAFAFA;
    padding: 10px 15px;
    text-transform: uppercase;
}
.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-success {
    background-color: #27c24c;
    border: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover {
    background-color: #23ad44;
    border: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.hover {
    background-color: #f4f4f4!important;
    outline:0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#breadcrumb {
    background-color: #e5e5e5;
    border-bottom: 1px solid #d6d6d6;
}
#breadcrumb a {
    padding: 8px 20px 8px 6px;
    display: inline-block;
    background-image: url(../image/breadcrumb.png);
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666666;
}

#breadcrumb a:hover {
    color: #333333;
    text-decoration:none;
}
.tab-content{
    padding-top: 10px;
}

.sm-st {
    text-align: center;
    background: #f1f1f1;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
    box-shadow: 0 1px 0px rgba(0,0,0,0.05);
}


.sm-st-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    background: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    color: #fff;
}
.st-red {
    background-color: #F05050;
}
.sm-st-info {
    font-size: 12px;
    padding-top: 2px;
}
.sm-st-info span {
    display: block;
    font-size: 24px;
    font-weight: 600;
}
#code{
    min-height:405px;
    margin: 0px;
    border: none;
    border-radius: 0px;
}
#algo_table {
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #e8ecf0;
    border-radius: 0!important;
    cursor: default;
    border-spacing: 0;
}
#algo_table td:first-child {
    width: 4%;
}
#algo_table td {
    width: 18%;
    text-align: center;
    max-width: 400px;
    vertical-align: middle;
}
.table .algorithm_list td:first-child {
    border-left: 1px solid #fff;
}
.table>thead>tr>td{
    text-align: center;
    ine-height: 21px;
    user-select: none;
    cursor: default!important;
}
.table>thead>tr>td, .table>thead>tr>th {
    border-top-color: #e8ecf0;
    line-height: 21px;
}
.un-selectbox {
    background: url(../image/un-select.png) 8px 11px no-repeat;
    width: 20px;
    height: 20px;
}
.selectbox {
    background: url(../image/select.png) 8px 12px no-repeat;
    width: 20px;
    height:
    20px;
}
.table tr td.selectbox {
    background-image: url(../image/select2.png);
}
.table tr td.selectbox, .table tr td.un-selectbox {
    padding: 8px 12px;
    background-position: 12px 13px;
}
input[type=checkbox].select-checkbox {
    margin-top: 0;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.select-checkbox {
    width: 20px;
    height: 20px;
    opacity: 0;
}
#algo_table td.name {
    width: 30%;
}
.table .algorithm_list.checked td {
    border-top: 1px solid #c8d6e9;
    border-bottom: 1px solid #c8d6e9;
}
.name_img, .new_file_img {
    vertical-align: text-bottom;
}
td.name .file_name {
    color: #00192f;
    display: inline-block;
    max-width: 295px;
    margin-left: 3px;
    overflow: hidden;
}
a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}
input[type=text].rename_input {
    width: 115px;
    margin: 0 5px;
    height: 25px;
    border: 1px solid #e8ecf0;
    vertical-align: text-bottom;
}
.rename_ok {
    background: url(../image/ok.png);
}
.rename_cancel {
    background: url(../image/cancel.png);
}
.rename_cancel, .rename_ok {
    border: none;
    width: 28px;
    height: 28px;
    vertical-align: text-bottom;
}
.iscode {
    background: url(../image/code2.png) center no-repeat;
}
.iscode, .table td a {
    color: #255da8;
}
.align-left {
    text-align: left !important;
}
.f12 {
    font-size: 12px;
}
.bold {
    font-weight: bold;
}
.table .algorithm_list.checked {
    background: #f7faff;
}
.table .algorithm_list.checked td {
    border-top: 1px solid #c8d6e9;
    border-bottom: 1px solid #c8d6e9;
}
.table .algorithm_list.checked td:first-child{
    border-left: 1px solid #c8d6e9;
}
.algorithm_list.checked td:last-child {
    border-right: 1px solid #c8d6e9;
}
.inline-block {
    display: inline-block;
}
input[type=text].rename_input {
    padding: 3px;
    width: 115px;
    margin: 0 5px;
    height: 25px;
    border: 1px solid #e8ecf0;
    vertical-align: text-bottom;
}
.less-container{
    height: 210px;
    color: rgb(153, 153, 153);
    background-color: #272822;
    padding: 2px 4px 20px 4px;
    outline: none;
    overflow: scroll;
    overflow-x: hidden;
    line-height: 16px;
    font-size: 13px;
    font-family: Lucida Console;
    color: #999999;
    resize: none;
}
div.less-container div.logclass{
    border-bottom: 0px solid #111111;
    font-family: inherit;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    outline: none;
    display: inline;
}
div.less-status-bar {
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
    border: 0px solid #666666;
    background-color: #2f3129;
    font-size: 12px;
    color: #c0c0c0;

}

div.less-status-bar span {
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    height: 18px;
    background-color: #3f3f3f;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #c0c0c0;
    display: inline-block;
}

div.less-status-bar span input.text {
    height: 16px;
    padding-left: 4px;
    border: 1px solid #888888;
    background-color: #333333;
    outline: none;
    line-height: 16px;
    font-size: 12px;
    color: #c0c0c0;
}
div.less-status-bar span.ctrl {
    width: 274px;
}

div.less-status-bar input.button {
    margin: 0px;
    padding: 0px 8px 0px 8px;
    height: 18px;
    line-height: 16px;
    border: 1px solid #666666;
    background-color: #333333;
    font-size: 12px;
    color: #c0c0c0;
}

div.less-status-bar span.pad4 {
    padding-left: 4px;
}
.w30 {
    width: 30px;
}

div.less-status-bar span input.checkbox {
    margin-top: -1px;
    margin-right: 4px;
    border: none;
    background: none;
    vertical-align: middle;
    display: inline-block;
}